<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quipmate2"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <receiver android:name=".receiver" >
            <intent-filter>
                <action android:name="android.intent.action.com.example.quipmate2.COPAService.REQUEST_PROCESSED" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.quipmate2.features.CoWorkers"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.quipmate2.features.EnterDetailsSignup"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.quipmate2.features.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.quipmate2.features.MessagesRecent"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.quipmate2.features.Logout"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.quipmate2.features.SearchFriend"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.quipmate2.features.Notifications"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.quipmate2.features.MessageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.quipmate2.features.Message"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.quipmate2.features.VerifyCode"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/app_name" >
            
              <action android:name="android.intent.action.VIEW" />
             
        </activity>

        <service android:name="com.quipmate2.features.QmChatClientService" >
        </service>
        <service android:name="com.quipmate2.features.ChatService" >
        </service>
        <service android:name="com.quipmate2.features.RealTimeService" >
        </service>
    </application>

</manifest>